<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=, initial-scale=1.0">
        <title>Peritroopers</title>
        <link rel="stylesheet" href="css/faq.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
    </head>
<body>
    <header>
        <br>
        <br>
        <br>
        <br>
        <br>
    </header>
    <main>
        <section class="faq-container">
            <h1>Preguntas Frecuentes</h1>

            <div class="box-faq">
                <h2 class="box-question">Mi cuenta</h2>
                <ul class="box-answer">
                    <li>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quia sit iste repellendus atque, laudantium animi eos, numquam temporibus pariatur veritatis architecto debitis, commodi quos adipisci ut enim. A, eum?
                    </li>
                    <li>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quia sit iste repellendus atque, laudantium animi eos, numquam temporibus pariatur veritatis architecto debitis, commodi quos adipisci ut enim. A, eum?
                    </li>
                </ul>
            </div>

            <div class="box-faq">
                <h2 class="box-question">Envíos</h2>
                <ul class="box-answer">
                    <li>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quia sit iste repellendus atque, laudantium animi eos, numquam temporibus pariatur veritatis architecto debitis, commodi quos adipisci ut enim. A, eum?
                    </li>
                    <li>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quia sit iste repellendus atque, laudantium animi eos, numquam temporibus pariatur veritatis architecto debitis, commodi quos adipisci ut enim. A, eum?
                    </li>
                </ul>
            </div>

            <div class="box-faq">
                <h2 class="box-question">Cambios y devoluciones</h2>
                <ul class="box-answer">
                    <li>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quia sit iste repellendus atque, laudantium animi eos, numquam temporibus pariatur veritatis architecto debitis, commodi quos adipisci ut enim. A, eum?
                    </li>
                    <li>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quia sit iste repellendus atque, laudantium animi eos, numquam temporibus pariatur veritatis architecto debitis, commodi quos adipisci ut enim. A, eum?
                    </li>
                </ul>
            </div>

            <div class="box-faq">
                <h2 class="box-question">Términos y condiciones</h2>
                <ul class="box-answer">
                    <li>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quia sit iste repellendus atque, laudantium animi eos, numquam temporibus pariatur veritatis architecto debitis, commodi quos adipisci ut enim. A, eum?
                    </li>
                    <li>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quia sit iste repellendus atque, laudantium animi eos, numquam temporibus pariatur veritatis architecto debitis, commodi quos adipisci ut enim. A, eum?
                    </li>
                </ul>
            </div>

        </section>
    </main>
    <footer>
        <br>
        <br>
        <br>
        <br>
        <br>
    </footer>
</body>
</html>

