<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=, initial-scale=1.0">
        <title>Peritroopers</title>
        <link rel="shortcut icon" href="images/peritroopers_icon.ico">
        <link rel="stylesheet" href="css/faq.css">
        <link rel="stylesheet" href="css/clear-mode.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
    </head>
<body>
    <header>
        <section class="caja-logo-busqueda">
            <article class="cart-heart">
                <div class="caja-carrito">
                    <a href="./productCart"><i class="fas fa-shopping-cart cart"></i></a>
                </div>
                <div class="caja-favorites">
                    <a href="./#populares"><i class="fas fa-heart heart"></i></a>
                </div>
            </article>
            
            <article class="logo">
                <div class="logo-box-normal">
                    <img src="images/logo1.gif" alt="Logo Peritroopers" width="250"> 
                </div> 
                <div class="logo-box-reduced">
                    <img src="images/logo-cortado.gif" alt="Logo Peritroopers" width="150"> 
                </div> 
            </article>

            <article class="busqueda-boton">
                <div class="caja-cuadro">
                    <form action="" class="cuadro-busqueda" method="post" target="_blank">
                        <input type="search" placeholder="Busque por marcas, productos, etc." size="30px" class="casillero">
                    </form>
                </div>
                <div class="caja-boton">
                    <button type="submit" class="boton"><i class="fas fa-search"></i></button>
                </div>
               
                
            </article> 
             <div class="contenedor-burger">
                    <span class="burger-menu">
                        <a href=""><i class="fa fa-bars burger"></i></a>
                    </span>
                </div>
                <nav class="nav-bar">
                    <ul type="none" class="barra-nav1">
                        <li class="secciones"><a href="./">Home</a></li>
                        <li class="secciones"><a href="#">Catálogo</a></li>
                        <li class="secciones"><a href="#">Ayuda</a></li>
                        <li class="secciones"><a href="./register">Creá tu cuenta </a></li>
                        <li class="secciones"><a href="./login">Ingresá </a></li>
                    </ul>
                </nav>
        </section>
    </header>
    <main>
        <section class="faq-container">
            <h1>Preguntas Frecuentes</h1>

            <div class="box-faq">
                <h2 class="box-question">Mi cuenta</h2>
                <ul class="box-answer">
                    <li>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quia sit iste repellendus atque, laudantium animi eos, numquam temporibus pariatur veritatis architecto debitis, commodi quos adipisci ut enim. A, eum?
                    </li>
                    <li>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quia sit iste repellendus atque, laudantium animi eos, numquam temporibus pariatur veritatis architecto debitis, commodi quos adipisci ut enim. A, eum?
                    </li>
                </ul>
            </div>

            <div class="box-faq">
                <h2 class="box-question">Envíos</h2>
                <ul class="box-answer">
                    <li>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quia sit iste repellendus atque, laudantium animi eos, numquam temporibus pariatur veritatis architecto debitis, commodi quos adipisci ut enim. A, eum?
                    </li>
                    <li>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quia sit iste repellendus atque, laudantium animi eos, numquam temporibus pariatur veritatis architecto debitis, commodi quos adipisci ut enim. A, eum?
                    </li>
                </ul>
            </div>

            <div class="box-faq">
                <h2 class="box-question">Cambios y devoluciones</h2>
                <ul class="box-answer">
                    <li>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quia sit iste repellendus atque, laudantium animi eos, numquam temporibus pariatur veritatis architecto debitis, commodi quos adipisci ut enim. A, eum?
                    </li>
                    <li>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quia sit iste repellendus atque, laudantium animi eos, numquam temporibus pariatur veritatis architecto debitis, commodi quos adipisci ut enim. A, eum?
                    </li>
                </ul>
            </div>

            <div class="box-faq">
                <h2 class="box-question">Términos y condiciones</h2>
                <ul class="box-answer">
                    <li>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quia sit iste repellendus atque, laudantium animi eos, numquam temporibus pariatur veritatis architecto debitis, commodi quos adipisci ut enim. A, eum?
                    </li>
                    <li>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus quia sit iste repellendus atque, laudantium animi eos, numquam temporibus pariatur veritatis architecto debitis, commodi quos adipisci ut enim. A, eum?
                    </li>
                </ul>
            </div>

        </section>
    </main>
    <footer>
        <section>
            <article class="contactus-container">
                <h3>Contactanos</h3>
                <div class="contact-form">
                    <form action="" method="POST">
                        <div>
                            <label>Nombre</label><br>
                            <input type="text" placeholder="Carlos Perez" name="nombre" class="nombre">
                        </div>
                        <div>
                            <label>Correo electrónico</label><br>
                            <input type="email" placeholder="usuario@ejemplo.com" name="email" class="email">
                        </div>
                        <div>
                            <textarea type="text" placeholder="Escriba su comentario..." rows="10" name="comentario" class="comentario"></textarea>
                        </div>
                        <div class="botones">
                            <button type="submit" class="send" value="Enviar">Enviar consulta</button>
                            <button type="reset" class="clean" value="Cancelar">Cancelar</button>
                        </div>
                    </form>
                </div>
            </article>
        </section>
        <section  class="data">
            <article>
                <div class="data-item">
                    <span><i class="far fa-building"></i> Av. Rivadavia N° 3454 Piso 3</span>
                </div>
                <div class="data-item">
                    <span><i class="fas fa-envelope-open-text"></i> contacto@peritroopers.com.ar</span>
                </div>
                <div class="data-item">
                    <span><i class="fas fa-phone-alt"></i> 4117-5794</span>
                </div>
                <div class="data-item">
                    <span><i class="fas fa-map-marker-alt"></i> Ciudad Autónoma de Buenos Aires</span>
                </div>
                <div class="data-item-faq">
                    <span><a href="./faq" class="faq-item">Preguntas Frecuentes</a></span>
                </div>
            </article>
            
        </section>
        <section  class="social-media">
            <article>
                <div class="socialIcons">
                    <li class="facebook"><a href="https://www.facebook.com"><i class="fab fa-facebook" ></i>Facebook</a></li>
                    <li class="twitter"><a href="https://www.twitter.com"><i class="fab fa-twitter" ></i>Twitter</a></li>
                    <li class="instagram"><a href="https://instagram.com"><i class="fab fa-instagram" ></i>Instagram</a></li>
                    <li class="whatsapp"><a href="https://web.whatsapp.com"><i class="fab fa-whatsapp"></i>WhatsApp</a></li>
                </div>
            </article>
        </section>
        <section class="copyright">
            <article class="texto">
                <h5>Copyright © 2021 DH-Troopers</h5>
            </article>
        </section>
    </footer>
</body>
</html>

