<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Peritroopers</title>
    <link rel="stylesheet" href="css/clear-mode.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
</head>
<body>
    <header>
        <div class="caja-logo-busqueda">
            <img src="images/logo1.gif" class="logo" alt="Logo Peritroopers" width="250">       
            <article class="busqueda-boton">
                <div class="caja-cuadro">
                    <form action="" class="cuadro-busqueda" method="post" target="_blank">
                        <input type="search" placeholder="Busque por marcas, productos, etc." size="30px" class="casillero">
                    </form>
                </div>
                <div class="caja-boton">
                    <button type="submit" class="boton"><i class="fas fa-search"></i></button>
                </div>
            </article>
            <div class="caja-carrito">
                <a href="./productCart.html">Carrito <i class="fas fa-shopping-cart"></i></a>
            </div>
        </div>
        <br>

        <section class="contenedor-links">
            <nav class="navbar">
                <ul type="none" class="barra-nav1">
                    <li class="seccion-home"><a href="#">Home</a></li>
                    <li class="seccion-catalogo"><a href="#">Catálogo</a></li>
                    <li class="seccion-ayuda"><a href="#">Ayuda</a></li>
                </ul>
                <ul type="none" class="barra-nav2">
                    <li class="seccion-registro"><a href="./register.html">Creá tu cuenta </a></li>
                    <li class="seccion-login"><a href="./login.html">Ingresá </a></li>
                </ul>
            </nav>
            <div class="contenedor-burger">
                <span class="burger-menu">
                    <a href=""><i class="fa fa-bars burger"></i></a>
                </span>
            </div>
        </section>

        
    </header>
     
    <main>
        <section>
            Carrousel de imágenes
        </section>
        <section>
            <h2>Basado en tu última visita</h2>
            <article class="tarjeta">
                <div class="detalle">
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con MercadoLiebreCash tenés cuotas sin<br>
                    interés con tarjeta o efectivo en puntos de<br>
                    pago. ¡Y siempre es seguro</p>
                </div>
            </article>

            <article class="tarjeta">
                <div class="detalle">
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con MercadoLiebreCash tenés cuotas sin<br>
                    interés con tarjeta o efectivo en puntos de<br>
                    pago. ¡Y siempre es seguro</p>
                </div>
            </article>

            <article class="tarjeta">
                <div class="detalle">
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con MercadoLiebreCash tenés cuotas sin<br>
                    interés con tarjeta o efectivo en puntos de<br>
                    pago. ¡Y siempre es seguro</p>
                </div>
            </article>

            <article class="tarjeta">
                <div class="detalle">
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con MercadoLiebreCash tenés cuotas sin<br>
                    interés con tarjeta o efectivo en puntos de<br>
                    pago. ¡Y siempre es seguro</p>
                </div>
            </article>
        </section>
        <br>
        <section>
            <h2 id="ofertas">Ofertas</h2>
            <article class="tarjeta">
                <div class="detalle">
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con MercadoLiebreCash tenés cuotas sin<br>
                    interés con tarjeta o efectivo en puntos de<br>
                    pago. ¡Y siempre es seguro</p>
                </div>
            </article>

            <article class="tarjeta">
                <div class="detalle">
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con MercadoLiebreCash tenés cuotas sin<br>
                    interés con tarjeta o efectivo en puntos de<br>
                    pago. ¡Y siempre es seguro</p>
                </div>
            </article>    

            <article class="tarjeta">
                <div class="detalle">
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con MercadoLiebreCash tenés cuotas sin<br>
                    interés con tarjeta o efectivo en puntos de<br>
                    pago. ¡Y siempre es seguro</p>
                </div>    
            </article>

            <article class="tarjeta">
                <div class="detalle">
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con MercadoLiebreCash tenés cuotas sin<br>
                    interés con tarjeta o efectivo en puntos de<br>
                    pago. ¡Y siempre es seguro</p>
                </div>  
            </article>
        </section>
    </main>

    <footer class="busqueda">
        <section>
            <article>
                <div>
                    <i class="fas fa-credit-card icono"></i>
                </div>
                <div class="texto">
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con MercadoLiebreCash tenés cuotas sin<br>
                    interés con tarjeta o efectivo en puntos de<br>
                    pago. ¡Y siempre es seguro</p>
                </div>
            </article>
        </section>
        <section>
            <article>
                <div>
                    <i class="fas fa-gift icono"></i>
                </div>
                <div class="texto">
                    <h3>Envío gratis desde los $ 2.500</h3>
                    <p>Solo por estar registrad@ en MercadoLiebre<br>
                    tenés envíos gratis en miles de productos. Es<br>
                    un beneficio de MercadoPuntos</p>
                </div>
            </article>
            
        </section>
        <section>
            <article>
                <div>
                    <i class="fas fa-user-shield icono"></i>
                </div>
                <div class="texto">
                    <h3>Seguridad de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre<br>
                    no hay nada que no puedas hacer porque<br>
                    estás siempre protegid@</p>
                </div>
            </article>
        </section>
        <section class="copyright">
            <article class="texto">
                <h5>Copyright © 1999-2021 MercadoLiebre S.R.L.</h5>
            </article>
        </section>
    </footer>
</body>
</html>