<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Peritroopers</title>
    <link rel="stylesheet" href="css/clear-mode.css" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>
    <header>
        <section class="caja-logo-busqueda">
            <article class="cart-heart">
                <div class="caja-carrito">
                    <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
                </div>
                <div class="caja-favorites">
                    <a href="./#populares"><i class="fas fa-heart heart"></i></a>
                </div>
            </article>
            
            <article class="logo">
                <div class="logo-box-normal">
                    <img src="images/logo1.gif" alt="Logo Peritroopers" width="250"> 
                </div> 
                <div class="logo-box-reduced">
                    <img src="images/logo-cortado.gif" alt="Logo Peritroopers" width="150"> 
                </div> 
            </article>

            <article class="busqueda-boton">
                <div class="caja-cuadro">
                    <form action="" class="cuadro-busqueda" method="post" target="_blank">
                        <input type="search" placeholder="Busque por marcas, productos, etc." size="30px" class="casillero">
                    </form>
                </div>
                <div class="caja-boton">
                    <button type="submit" class="boton"><i class="fas fa-search"></i></button>
                </div>
                <nav class="navbar">
                    <ul type="none" class="barra-nav1">
                
                        <li class="seccion-home"><a href="./">Home</a></li>
                        <li class="seccion-catalogo"><a href="#">Catálogo</a></li>
                        <li class="seccion-ayuda"><a href="#">Ayuda</a></li>
                    </ul>
                    <ul type="none" class="barra-nav2">
                        <li class="seccion-registro"><a href="./register">Creá tu cuenta </a></li>
                        <li class="seccion-login"><a href="./login">Ingresá </a></li>
                    </ul>
                </nav>
                <div class="contenedor-burger">
                    <span class="burger-menu">
                        <a href=""><i class="fa fa-bars burger"></i></a>
                    </span>
                </div>
            </article> 
        </section>
    </header>
     
    <main>
        <section class="carrousel">
            Carrousel de imágenes
        </section>
        <section>
            <h2>Novedades</h2>
            <article class="news">
                <div class="detail">
                    <div><a href="productDetail" class="pic1"><img src="images/tecladoRedDragonNovedades.jpg" alt="Teclado Red Dragon"></a></div>
                    <div><a href="productDetail" class="pic1"><img src="images/auricularesCorsairNovedades.jpg" alt="Auriculares Corsair"></a></div>
                    <div><a href="productDetail" class="pic1"><img src="images/mouseRedDragonNovedades.jpg" alt="Mouse Red Dragon"></a></div>
                    <div><a href="productDetail" class="pic1"><img src="images/microfonoHyperXNovedades.jpg" alt="Micrófono HyperX"></a></div>
                </div>
            </article>
        </section>
        <br>
        <section>
            <h2>Nuestras Marcas</h2>
            <article class="our-brands">
                <div class="brands">
                    <ul>
                        <li class="brand-item"></li>
                        <li class="brand-item"></li>
                        <li class="brand-item"></li>
                        <li class="brand-item"></li>
                        <li class="brand-item"></li>
                    </ul>
                </div>
            </article>
        </section>
        <br>
        <section>
            <h2>Populares</h2>
            <article class="populars">
                <div class="gallery-container">
                    <div class="popular-item"><a href="productDetail"><img src="images/tecladoRazerPopulares.jpg" alt=""></a></div>
                    <div class="popular-item"><a href="productDetail"><img src="images/auricularesCorsairPopulares.png" alt=""></a></div>
                    <div class="popular-item"><a href="productDetail"><img src="images/mouseRazerPopulares.jpg" alt=""></a></div>
                    <div class="popular-item"><a href="productDetail"><img src="images/microfonoPopulares.jpg" alt=""></a></div>
                    <div class="popular-item"><a href="productDetail"><img src="images/tecladoRedDragonPopulares.jpg" alt=""></a></div>
                    <div class="popular-item"><a href="productDetail"><img src="images/auricularesRazerPopulares.png" alt=""></a></div>
                    <div class="popular-item"><a href="productDetail"><img src="images/mouseHyperXPopulares.jpg" alt=""></a></div>
                    <div class="popular-item"><a href="productDetail"><img src="images/microfonoBluYetiPopulares.jpg" alt=""></a></div>
                </div>
            </article>
        </section>
    </main>

    <footer>
        <section>
            <article class="contactus-container">
                <h3>Contactanos</h3>
                <div class="contact-form">
                    <form action="" method="POST">
                        <div>
                            <label>Nombre</label><br>
                            <input type="text" placeholder="Carlos Perez" name="nombre" class="nombre">
                        </div>
                        <div>
                            <label>Correo electrónico</label><br>
                            <input type="email" placeholder="usuario@ejemplo.com" name="email" class="email">
                        </div>
                        <div>
                            <textarea type="text" placeholder="Escriba su comentario..." rows="10" name="comentario" class="comentario"></textarea>
                        </div>
                        <div class="botones">
                            <button type="submit" class="send" value="Enviar">Enviar consulta</button>
                            <button type="reset" class="clean" value="Cancelar">Cancelar</button>
                        </div>
                    </form>
                </div>
            </article>
        </section>
        <section  class="data">
            <article>
                <div class="data-item">
                    <span><i class="far fa-building"></i> Av. Rivadavia N° 3454 Piso 3</span>
                </div>
                <div class="data-item">
                    <span><i class="fas fa-envelope-open-text"></i> contacto@peritroopers.com.ar</span>
                </div>
                <div class="data-item">
                    <span><i class="fas fa-phone-alt"></i> 4117-5794</span>
                </div>
                <div class="data-item">
                    <span><i class="fas fa-map-marker-alt"></i> Ciudad Autónoma de Buenos Aires</span>
                </div>
                <div class="data-item-faq">
                    <span><a href="./faq" class="faq-item">Preguntas Frecuentes</a></span>
                </div>
            </article>
            
        </section>
        <section  class="social-media">
            <article>
                <div class="socialIcons">
                    <li class="facebook"><a href="https://www.facebook.com"><i class="fab fa-facebook" ></i>Facebook</a></li>
                    <li class="twitter"><a href="https://www.twitter.com"><i class="fab fa-twitter" ></i>Twitter</a></li>
                    <li class="instagram"><a href="https://instagram.com"><i class="fab fa-instagram" ></i>Instagram</a></li>
                    <li class="whatsapp"><a href="https://web.whatsapp.com"><i class="fab fa-whatsapp"></i>WhatsApp</a></li>
                </div>
            </article>
        </section>
        <section class="copyright">
            <article class="texto">
                <h5>Copyright © 2021 DH-Troopers</h5>
            </article>
        </section>
    </footer>
</body>
</html>