<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=, initial-scale=1.0">
        <title>Peritroopers</title>
        <link rel="stylesheet" href="css/login.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
    </head>
<body>
    <header>
        <br>
        <br>
        <br>
        <br>
        <br>
    </header>

    <form action = "/login" method= "POST" class="login-page">
        <div class="login-fields">
            <div class="image-container">
                <img src="/images/user-headphones.png" width="40%" alt="user-image" class="profile-picture">
            </div>
        </div>
        <div class="login-fields">
            <div class="mail-container">
                <label></label>
                <div class="mail-icon">
                    <i class="far fa-envelope"></i>
                </div>
                <input type="mail" name="user-mail" placeholder="Correo Electrónico" class="sign-in-control">
            </div> 
        </div>
        <div class="login-fields">
            <div class="password-container">
                <label></label>
                <div class="password-icon">
                    <i class="fas fa-lock"></i>
                </div>
                <input type="password" name="password" placeholder="Contraseña" class="sign-in-control">
            </div>    
        </div>
        <label></label>
        <ul type= "none" class="forgot-password">
            <li><a href="#">¿Olvidaste tu Contraseña?</a></li>
        </ul> 
        <div class="logi</label>n-fields">
            <div class="remember-me-container">
                <label>
                <input type="checkbox" name="remember-me" value= "remember-me" class="sing-in-control">Recordarme
            </div>
        </div>
        <div class="button-form">
            <button type="submit" class="login-button"><a href="/" class="login-link">Iniciar Sesión</button></a>
            <button type="submit" class="register-button"><a href="/register" class="register-link">¿No tenes usuario? Registrate</button></a>
        </div>                 
    </form>
    <footer>
        <br>
        <br>
        <br>
        <br>
        <br>
    </footer>
</body>
</html>

