@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
* {
    font-family: Roboto, sans-serif, arial, helvetica;
}

body {
    background-color: #fff;
}

header {
    background-color: #d3e0dc;
}

.contenedor {
    display: flex;
}

h1 {
    color: #03506f;
}

main {
    background-color: #f8f1f1;
}

.enlaces {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
}

footer {
    background-color: #d3e0dc;
}