@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
* {
    font-family: Roboto, sans-serif, arial, helvetica;
}

body {
    background-color: #fff;
}

header {
    background-color: #180A41;
    color: white;
}

.caja-logo-busqueda {
    display: flex;
    font-family: 'Chakra Petch', arial;
}

main {
    background-color: #f8f1f1;
}

.enlaces a {
    font-family: 'Chakra Petch', arial;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

footer {
    background-color: #180A41;
    color: white;
    display: flex;
    align-items: center;
}