@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif, arial, helvetica;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

header {
    background-color: #180A41;
    color: white;
}

.caja-logo-busqueda {
    display: flex;
    justify-content: space-around;
    font-family: 'Chakra Petch', arial;
}

.cart-heart {
    display: flex;
    align-self: center;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.cart,
.heart {
    flex: 1 1 auto;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 12px;
}

.logo-box-normal {
    display: none;
}

.logo-box-reduced {
    display: flex;
    justify-content: center;
}

.logo {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.cuadro-busqueda {
    display: none;
    visibility: hidden;
}

a {
    text-decoration: none;
    color: white;
}

.contenedor-links {
    margin-top: 0;
    width: 95%;
    max-width: 1000px;
    margin: auto;
}

main {
    background-color: #f8f1f1;
}


/*=========================== CARRUSEL de IMAGENES =====================================*/

body {
    background: #000;
}

section.awSlider .carousel {
    display: table;
    z-index: 2;
    -moz-box-shadow: 0 0 4px #444;
    -webkit-box-shadow: 0 0 4px #444;
    box-shadow: 0 0 15px rgba(1, 1, 1, .5);
}

section.awSlider {
    margin: 30px auto;
    padding: 30px;
    position: relative;
    display: table;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

section.awSlider:hover>img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 1;
}

section.awSlider img {
    pointer-events: none;
}

section.awSlider>img {
    position: absolute;
    top: 30px;
    z-index: 1;
    transition: all .3s;
    filter: blur(1.8vw);
    -webkit-filter: blur(2vw);
    -moz-filter: blur(2vw);
    -o-filter: blur(2vw);
    -ms-filter: blur(2vw);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .5;
}


/*============================= FIN CARRUSEL ===================================*/

.contenedor-links a {
    font-family: 'Chakra Petch', arial;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    overflow: hidden;
}

.navbar {
    display: none;
    justify-content: space-between;
    align-self: center;
}

.barra-nav1,
.barra-nav2 {
    display: flex;
    flex-flow: column;
    border: 1px solid pink;
    justify-content: left;
    flex-wrap: wrap;
}

.contenedor-burger {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.burger-menu {
    font-size: 22px;
    padding: 9px 10px;
}

h2 {
    margin-top: 20px;
    border: solid 2px #180A41;
    color: #180A41;
    text-align: center;
    border-radius: 5px;
    font-family: 'Chakra Petch', arial;
}

h2:hover {
    background-color: rgb(175, 157, 192);
}

.price {
    font-family: 'Chakra Petch', arial;
    color: rgb(110, 110, 237);
    text-align: left;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 8px;
}

.detail-prod {
    font-family: 'Chakra Petch', arial;
    color: #180A41;
    text-align: center;
    font-size: 14px;
    margin: 8px;
    opacity: 0;
}

.detail-prod:hover {
    opacity: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pic1,
.popular-item {
    margin: 25px;
    background-color: #fff;
    padding-bottom: 20px;
}

.pic1:hover {
    box-shadow: 0px 0px 10px rgb(175, 157, 192);
}

.popular-item:hover {
    box-shadow: 0px 0px 10px rgb(175, 157, 192);
}

.pic1 img {
    width: 100%;
}

.popular-item img {
    width: 100%;
}


/*-----------EMPIEZAN LOS CAMBIOS DE YISUS --> modificado por PEI, sorry YISUS :/----------------------*/

.carrousel {
    background-color: rgb(110, 110, 237);
    box-shadow: 0px 0px 8px rgb(175, 157, 192);
    border-radius: 2px;
    padding: 50px;
    margin: 10px;
    color: white;
    font-size: 24px;
}

.detail,
.gallery-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


/*-----------------------TERMINAN LOS CAMBIOS DE YISUS-----------------------*/

footer {
    background-color: #180A41;
    color: white;
    display: flex;
    flex-flow: column;
    width: 100%;
    align-items: center;
}

.contactus-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-top: 30px;
}

.contact-form {
    font-family: 'Chakra Petch', arial;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 25px;
    line-height: 30px;
}

.nombre,
.email {
    font-family: 'Chakra Petch', arial;
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
}

.comentario {
    font-family: 'Chakra Petch', arial;
    width: 200px;
    border: none;
    border-radius: 4px;
}

.data,
.socialIcons,
.copyright {
    font-family: 'Chakra Petch', arial;
    margin-top: 20px;
    text-align: center;
}

.data-item {
    margin-bottom: 10px;
}

.data-item-faq {
    margin-top: 20px;
}

.faq-item {
    font-size: 14px;
    color: #00aced;
}

.botones {
    display: flex;
    flex-flow: column;
}

.send {
    margin-top: 10px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(110, 110, 237);
    box-shadow: 0px 2px 5px rgb(206, 206, 206);
    color: #fff;
    font-family: "Chakra Petch", arial;
    font-weight: bold;
}

.clean {
    margin-top: 10px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #180A41;
    box-shadow: 0px 2px 5px rgb(206, 206, 206);
    color: #fff;
    font-family: "Chakra Petch", arial;
    font-weight: bold;
}

.send:hover {
    background-color: rgb(79, 226, 79);
    transition: color 2s ease-out;
}

.clean:hover {
    background-color: rgb(240, 125, 125);
    transition: color 2s ease-in;
}

.socialIcons {
    display: flex;
    flex-flow: row;
}

.socialIcons li {
    background-color: yellow;
    list-style: none;
    margin: 5px;
    border-radius: 2em;
    overflow: hidden;
}

.socialIcons li a {
    display: block;
    padding: 0.5em;
    min-width: 2.28571429em;
    max-width: 2.28571429em;
    height: 2.28571429em;
    white-space: nowrap;
    line-height: 1.5em;
    transition: 0.5s;
    text-decoration: none;
    font-family: arial;
    color: #fff;
}

.socialIcons li i {
    margin-right: 0.5em;
    text-align: center;
    font-size: 20px;
}

.socialIcons li:hover a {
    max-width: 200px;
    padding-right: 1em;
    text-decoration: none;
}

.socialIcons .facebook {
    background-color: #3b5998;
    box-shadow: 0 0 16px #3b5998;
}

.socialIcons .twitter {
    background-color: #00aced;
    box-shadow: 0 0 16px #00aced;
}

.socialIcons .instagram {
    background-color: #cd486b;
    box-shadow: 0 0 16px #cd486b;
}

.socialIcons .whatsapp {
    background-color: #4dc247;
    box-shadow: 0 0 16px #4dc247;
}


/* ================================= CARRITO DE COMPRAS ======================================== */

.cart-buttons {
    padding-bottom: 35px;
}

.carrito {
    font-family: 'Chakra Petch', arial;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}

.table-cart {
    margin-top: 25px;
    text-align: center;
}

thead {
    font-family: 'Chakra Petch', arial;
    color: #180A41;
    font-size: 2.5vw;
    text-align: center;
}

.celda-i {
    color: #180A41;
    width: 15%;
}

.foto-carro {
    box-sizing: content-box;
    width: 100%;
}

.detalle-producto {
    font-family: 'Chakra Petch', arial;
    font-size: 2.7vw;
}

.precio-unitario {
    font-family: 'Chakra Petch', arial;
    font-size: 2.6vw;
}

.precio-final {
    font-family: 'Chakra Petch', arial;
    font-size: 2.9vw;
}

.celdas {
    width: 95%;
    border: 1px rgb(205, 205, 235) solid;
    border-collapse: collapse;
}

tfoot {
    border-top: 0.5px rgb(110, 110, 237) solid;
}

.total {
    font-family: 'Chakra Petch', arial;
    font-size: 3.2vw;
    color: #180A41;
}

.box-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box-buy-button {
    display: flex;
    align-self: center;
    margin-top: 25px;
    font-family: 'Chakra Petch', arial;
    background-color: #180A41;
    color: #Fff;
    padding: 10px 75px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.box-buy-button:hover {
    box-shadow: 0px 0px 10px rgb(119, 117, 117);
}

.box-add-button {
    display: flex;
    align-self: center;
    margin-left: 10px;
    font-family: 'Chakra Petch', arial;
    background-color: rgb(110, 110, 237);
    padding: 10px 64px 10px 64px;
    border-radius: 4px;
}

.box-add-button:hover {
    box-shadow: 0px 0px 10px rgb(119, 117, 117);
}


/* ---------------------------- TABLETS ---------------------------- */

@media (min-width: 481px) {
    .carrousel {
        padding: 80px;
    }
    /*------carrito de compras------*/
    thead {
        font-size: 12px;
    }
    .celdas {
        width: 150px;
    }
    .foto-carro {
        box-sizing: content-box;
        width: 180px;
    }
    .detalle-producto {
        font-size: 14px;
    }
    .precio-unitario {
        font-size: 16px;
    }
    .precio-final {
        font-size: 18px;
    }
    .total {
        font-size: 20px;
    }
    footer {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .copyright {
        flex: 5 1 100%;
        text-align: center;
    }
}


/* ----------------- TABLETS en LANDSCAPE / LAPTOPS ----------------- */

@media (min-width: 769px) {
    .caja-logo-busqueda {
        display: flex;
        flex-wrap: wrap;
    }
    .logo-box-normal {
        display: flex;
        justify-content: center;
    }
    .logo-box-reduced {
        display: none;
    }
    .contenedor-burger {
        display: none;
    }
    .navbar {
        display: flex;
        flex: 1 0 100%;
        border: 2px solid red;
    }
    .barra-nav1 {
        display: flex;
        margin-right: 5px;
    }
    .barra-nav2 {
        display: flex;
        margin-left: 5px;
        border: 2px solid yellow;
    }
    .secciones {
        margin: auto;
    }
    footer {
        display: flex;
        align-items: center;
    }
    .socialIcons {
        display: flex;
        flex-flow: column;
    }
    .box-buy-button {
        margin-top: 30px;
    }
    .box-add-button {
        margin-top: 20px;
    }
    /*-----------------------EMPIEZAN MÁS CAMBIOS DE YISUS-----------------------*/
    .detail,
    .gallery-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .pic1 img {
        width: 300px;
        height: 300px;
    }
    .popular-item img {
        width: 300px;
        height: 300px;
    }
    /*-----------------------TEMRINAN MÁS CAMBIOS DE YISUS-----------------------*/
}


/* ---------------------------- DESKTOP ---------------------------- */

@media (min-width: 1200px) {
    footer {
        display: flex;
        align-items: center;
    }
    /*-----------------------EMPIEZAN MÁS CAMBIOS DE YISUS-----------------------*/
    .detail,
    .gallery-container {
        justify-content: space-between;
    }
    .pic1 img {
        width: 350px;
        height: 350px;
    }
    .popular-item img {
        width: 350px;
        height: 350px;
    }
    /*-----------------------TEMRINAN MÁS CAMBIOS DE YISUS-----------------------*/
}