@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chakra Petch', arial;;
}

.titulo-categoria{
    font-family: 'Chakra Petch', arial;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
}

.estasRegistrado{
    display: block;
     width: 100%; 
     margin-top: 10px;
     font-family: 'Chakra Petch', arial; 
     font-size: 1em;
      padding: 0px 0px;
    transition: all 200ms;
    }
  .estasRegistrado a{text-decoration: none; color: #eb2525;}
  .estasRegistrado a:hover {color: #ff0000; font-weight: 600;}

.container{
    display: flex;
    flex-flow: column;
    margin: 16px;
    background-color: #ffffff;
    max-width: 700px;
}

.f-name,
.f-date,
.f-email,
.f-password,
.f-password2{
    margin: 16px;
}

.f-lbl{
    font-weight: 600;
}

input{
    width: 100%;
      background: #ffffff;
      border: 0.5px solid #222222;
      font-size: 10pt;
      color: #262626;
      padding: 0px 10px;
      margin: 2px;
      height: 35px;
      border-radius: 5px;
      transition: all 200ms;
    }
input[type=text]:focus{
    box-shadow: 0px 1px 15px rgb(43, 42, 42);
}  

input[type=email]:focus{
    box-shadow: 0px 1px 15px rgb(43, 42, 42);
}

input[type=password]:focus{
    box-shadow: 0px 1px 15px rgb(43, 42, 42);
}

.checkbox {
    display: block;
    width: 100%;
    font-size: 11px;
}

#terminos, #notificaciones{
    width: 15px;
  }

  .btn-registrar{
    background-color: #180A41;
    color: #ffffff;
    font-size: 20px;
    padding:8px 16px;
    border-radius: 5px;
    transition: all 200ms;
  }

  .btn-registrar:hover{
    background-color: #4103f8;
    color: #ffffff;
  }

  @media (min-width:760px){
    .container{
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        margin-left: 16%;
    }

    .f-btnRegistro{
margin-left: 30px;
    }
      
  }

  @media (min-width:500px){
 
      
  }